<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="h1">
      Sample App with ion-datetime component
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="h1">
        Sample App with ion-datetime component
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <form (submit)="onSubmit($event)">
      <ion-item>
        <ion-input [value]="selectedDate | date: 'mediumDate'" placeholder="Select Date" readonly
          (click)="openDateTimePicker()"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block">Submit</ion-button>
    </form>

    <ion-list *ngIf="submitted" class="result-list">
      <ion-item *ngFor="let item of dateList">
        <ion-label class="item-label">{{ item.label }}:</ion-label>
        <span class="item-date">{{ item.date }}</span>
      </ion-item>
    </ion-list>

    <ion-modal [isOpen]="isDatePickerOpen" (didDismiss)="closeDateTimePicker()">
      <ng-template>
        <ion-datetime [min]="minDate" [max]="maxDate" presentation="date"
          (ionChange)="onDateChange($event)"></ion-datetime>
      </ng-template>
    </ion-modal>
  </div>
</ion-content>